
<div class="card mx-auto" style="width: 50%;">
    <div class="container">
        <header>
  <h4> View Feedback Details</h4>
</header>
<div>
  <div>
      <label> <b> Comments: </b></label> {{particularFeedback.comments}}
  </div>
  <div>
    <label> <b> School Rating: </b></label> {{particularFeedback.schoolRating}}
</div>
<div>
    <label> <b> OverAll Rating: </b></label> {{particularFeedback.overallRating}}
</div>
<button type="button" class="btn btn-info btn-circle btn-lg btn-lg top-right-button"
(click)="back()"><span>Back</span></button>
