<div class="card mx-auto" style="width: 50%;">
    <div class="container">
        <header>
            <h4> View Teacher Details</h4>
          </header>
<div>
  <div>
      <label> <b>Teacher Name: </b></label> {{particularTeacher.teacherName}}
  </div>
  <div>
      <label> <b>TeachingSubject : </b></label> {{particularTeacher. teachingsubject}}
  </div>
  <div>
      <label> <b> Salary</b></label> {{particularTeacher.salary}}

  </div>
  <button type="button" class="btn btn-info btn-circle btn-lg btn-lg top-right-button"
(click)="back()"><span>Back</span></button>
</div>
    </div>

 