<div class="card mx-auto" style="width: 50%;">
    <div class="container">
        <header>
  <h4> View ClassRoom Details</h4>
</header>
<div>
  <div>
      <label> <b>ClassRoom Name: </b></label> {{particularClassRoom.className}}
  </div>
  <div>
      <label> <b>About the Class :</b></label> {{particularClassRoom.description}}
  </div>
  <div>
            
    <button (click) = "viewTeacher(teacher.teacherId)"class = "btn btn-purple"> TeacherInfo.</button>
    </div>
    <button type="button" class="btn btn-info btn-circle btn-lg btn-lg top-right-button"
    (click)="back()"><span>Back</span></button>
    
    </div>
</div>


